.JIGGLYPUFF {
  background-color: #ff9ff3;
}
.CASANDORA_YELLOW {
  background-color: #feca57;
}
.PASTEL_RED {
  background-color: #ff6b6b;
}
.MEGAMAN {
  background-color: #48dbfb;
}
.WILD_CARIBBEAN_GREEN {
  background-color: #1dd1a1;
}
.LIAN_HONG_LOTUS_PINK {
  background-color: #f368e0;
}
.DOUBLE_DRAGON_SKIN {
  background-color: #ff9f43;
}
.AMOUR {
  background-color: #ee5253;
}
.CYANITE {
  background-color: #0abde3;
}
.DARK_MOUNTAIN_MEADOW {
  background-color: #10ac84;
}
.JADE_DUST {
  background-color: #00d2d3;
}
.JOUST_BLUE {
  background-color: #54a0ff;
}
.NASU_PURPLE {
  background-color: #5f27cd;
}
.LIGHT_BLUE_BALLERINA {
  background-color: #c8d6e5;
}
.FUEL_TOWN {
  background-color: #576574;
}
.AQUA_VELVET {
  background-color: #01a3a4;
}
.BLEU_DE_FRANCE {
  background-color: #2e86de;
}
.BLUEBELL {
  background-color: #341f97;
}
.STORM_PETREL {
  background-color: #8395a7;
}
.IMPEREAL_PRIMER {
  background-color: #222f3e;
}
