footer {
  color: white;
  background-color: #454a56;
}

.footer__inner {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.footer__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 0 auto;
  padding: 10px 0;
}

.footer__item {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.footer__item > h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__item > ul > li {
  margin-bottom: 15px;
}

.footer__item > ul > li:hover {
  text-decoration: underline;
}

.footer__item > a > .main_logo {
  display: block;
  height: 34px;
}

.footer__item > a > img {
  display: inline-block;
  height: 34px;
  margin: 10px 10px;
}

.footer__item__follow {
  display: flex;
  gap: 10px;
}

.footer__item__follow > a {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.footer__item__follow > a > img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 11px;
  padding: 12px 0;
}

.footer__info > ul > .af {
  position: relative;
}

.footer__info > ul > .af::after {
  content: "|";
  font-size: 11px;
  color: white;
  margin: 0 4px;
}

.footer__info > ul > .danger {
  color: red;
}

.footer__copy {
  padding: 20px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #999999;

  border-top: 1px solid #999999;
}

@media screen and (max-width: 768px) {
  .footer__main {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__info > ul {
    font-size: 10px;
  }

  .footer__copy {
    font-size: 10px;
    flex-direction: column;
  }
}
