.desert-titanium {
  background-color: #bfa48f;
}

.natural-titanium {
  background-color: #c2bbc2;
}

.white-titanium {
  background-color: #f7f6f2;
}

.black-titanium {
  background-color: #3c3c3d;
}
