header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

nav {
  width: 100%;
  max-width: clamp(200px, 90vw, 1200px);
  margin: 0 auto;
  padding: clamp(10px, 2vw, 20px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: navy;
}

.nav__home {
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 700;
  text-decoration: none;
}

.nav__toggle {
  display: none;
  font-size: clamp(20px, 4vw, 36px);
  cursor: pointer;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: flex;
  cursor: pointer;
  font-size: clamp(14px, 1.5vw, 17px);
  background-color: transparent;
  color: skyblue;
}

.nav__menu > li {
  padding: clamp(6px, 0.8vw, 10px) clamp(12px, 1.6vw, 20px);
}

.nav__menu > li:hover {
  color: white;
  background-color: navy;
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .nav__menu > li {
    border-bottom: 1px solid black;
  }

  .nav__checkbox:checked + .nav__toggle + .nav__menu {
    display: flex;
  }

  .nav__toggle {
    display: block;
    font-size: clamp(20px, 4vw, 36px);
    cursor: pointer;
  }
}
